@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: white;
  background-color: #111827;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
